<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.tees.t7099806.mediatracker2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WatchedActivity"
            android:label="@string/title_activity_watched"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WatchingListActivity"
            android:label="@string/title_activity_watching_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlanToWatchActivity"
            android:label="@string/title_activity_plan_to_watch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MovieDetailsActivity"
            android:label="@string/title_activity_movie_details_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiscoverShowsActivity"
            android:label="@string/title_activity_discover_shows"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchMoviesActivity"
            android:label="@string/title_activity_search_movies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlantToReadActivity"
            android:label="@string/title_activity_plant_to_read"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadingListActivity"
            android:label="@string/title_activity_reading_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadListActivity"
            android:label="@string/title_activity_read_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookDetailsActivity"
            android:label="@string/title_activity_book_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchBooksActivity"
            android:label="@string/title_activity_search_books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>